<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cadastrar Livros</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/CadastraLivros.js"></script>
    <script>
        function iniciar(){
            let div = document.createElement("div")
            let Livros = new cadastraLivros(div);
            document.body.appendChild(div)

        }
        window.addEventListener("load",iniciar)
    </script>
</head>
<body>
</body>
</html>